<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Deployment Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Kubernetes Deployment Dashboard</h1>
    </header>

    <div class="container">
        <h2>Deployments</h2>
        <table id="deploymentsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Namespace</th>
                    <th>Replicas</th>
                    <th>Available</th>
                    <th>Unavailable</th>
                </tr>
            </thead>
            <tbody>
                <!-- Deployment data will be dynamically added here -->
                {% for deployment in deployment_data %}
                <tr>
                    <td>{{ deployment.name }}</td>
                    <td>{{ deployment.namespace }}</td>
                    <td>{{ deployment.replicas }}</td>
                    <td>{{ deployment.available }}</td>
                    <td>{{ deployment.unavailable }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js
