<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Describe Deployment</title>
    <style>
        /* Add CSS styles here for better formatting */
        .container {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 20px;
        }
        .label {
            font-weight: bold;
        }
        .value {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h1>Deployment Details</h1>

    <div class="container">
        <!-- Parse and format deployment details here -->
        {% for line in deployment_details %}
            <div class="row">
                {% set parts = line.split(':') %}
                <span class="label">{{ parts[0] }}</span>
                <span class="value">{{ parts[1] }}</span>
            </div>
        {% endfor %}
    </div>
</body>
</html>
