<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Deployment Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Kubernetes Deployment Checker</h1>

    <!-- Form to input namespace -->
    <form id="namespaceForm">
        <label for="namespaceInput">Namespace:</label>
        <input type="text" id="namespaceInput" name="namespace">
        <button type="submit">Check Pod Status</button>
    </form>

    <div id="checkResult"></div>

    <script>
        // Function to handle form submission
        $('#namespaceForm').submit(function(event) {
            event.preventDefault();
            var namespace = $('#namespaceInput').val();
            getPodStatus(namespace);
        });

        // Function to make AJAX request to Flask route '/namespace'
        function getPodStatus(namespace) {
            $.get('/namespace', { namespace: namespace }, function(data) {
                // Clear previous pod status
                $('#checkResult').empty();

                // Append pod status to HTML
                data.forEach(function(pod) {
                    $('#checkResult').append('<p>Pod Name: ' + pod.name + ', Image: ' + pod.image + ', Status: ' + pod.status + '</p>');
                });
            });
        }

        // Function to make AJAX request to Flask route '/check_deployment'
        function checkDeployment() {
            // Redirect to '/check_deployment' immediately
            window.location.href = '/check_deployment';
        }



        // Function to make AJAX request to Flask route '/describe_deployment'
        function describeDeployment(deploymentName) {
            $.get('/describe_deployment/' + deploymentName, function(data) {
                $('#checkResult').text(data.output);
                // Redirect to '/describe_deployment/<deploymentName>' after AJAX request is successful
                window.location.href = '/describe_deployment/' + deploymentName;
            });
        }
    </script>

    <!-- Buttons to trigger the AJAX requests -->
    <button onclick="checkDeployment()" id="checkDeploymentsButton">Check Deployments</button>
    <!-- Button to describe any deployment -->
    <button onclick="describeDeployment(prompt('Enter deployment name:'))">Describe Deployment</button>

    <h1>Delete Application and Namespace</h1>

    <!-- Form to input deployment name and namespace -->
    <form id="deleteForm">
        <label for="deploymentNameInput">Deployment Name:</label>
        <input type="text" id="deploymentNameInput" name="deploymentNameInput"><br>
        <label for="deleteNamespaceInput">Namespace:</label>
        <input type="text" id="deleteNamespaceInput" name="deletenamespace"><br>
        <button type="submit">Delete</button>
    </form>
    
    <div id="result"></div>
    
    <script>
        // Function to handle form submission
        $('#deleteForm').submit(function(event) {
            event.preventDefault(); // Prevent default form submission behavior
            var deploymentName = $('#deploymentNameInput').val();
            var namespace = $('#deleteNamespaceInput').val();
            deleteAppAndNamespace(deploymentName, namespace);
            console.log(deploymentName,namespace)
        });
    
        // Function to make AJAX request to delete application and namespace
        function deleteAppAndNamespace(deploymentName, namespace) {
            $.ajax({
                url: '/delete',
                type: 'POST',
                data: {
                    deploymentName: deploymentName,
                    namespace: namespace
                },
                success: function(data) {
                    $('#result').text(data.message);
                    console.log(data.message)
                },
                error: function(xhr, status, error) {
                    $('#result').text('Error: ' + error);
                    console.log(data.message)
                }
            });
        }
    </script>
    
    <h1>Deploy Application to Namespace</h1>
    <form id="deployForm">
        <label for="namespace">Namespace:</label>
        <input type="text" id="namespace" name="namespace" required><br><br>
        
        <label for="helm_chart">Helm Chart Path:</label>
        <input type="text" id="helm_chart" name="helm_chart" required><br><br>
        
        <input type="submit" value="Deploy">
    </form>

    <script>
        document.getElementById('deployForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission
            
            const namespace = document.getElementById('namespace').value;
            const helmChart = document.getElementById('helm_chart').value;
            
            const data = {
                namespace: namespace,
                helm_chart: helmChart
            };

            fetch('/deploy', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle response as needed
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error as needed
            });
        });
    </script>
</body>
</html>
